.calculator {
	&__wrap {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100vh;
	}

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		border: 2px solid var(--dark-color);
		border-radius: 20px;
		padding: 30px 50px;
		background-color: var(--accent-color);
	}

	&__inner {
		display: flex;
		align-items: center;
		margin-bottom: 10px;
	}

	&__scoreboard {
		overflow-x: auto;
		border: 2px solid var(--dark-color);
		border-radius: 5px 0 0 5px;
		padding: 5px 10px;
		width: 300px;
		min-height: 40px;
		line-height: 26px;
		text-align: center;
		background-color: var(--light-color);
	}

	&__close {
		position: relative;
		border-top: 2px solid var(--dark-color);
		border-right: 2px solid var(--dark-color);
		border-bottom: 2px solid var(--dark-color);
		border-radius: 0 5px 5px 0;
		padding: 18px;
		width: 10px;
		height: 10px;
		background-color: var(--bg-color);

		&::after,
		&::before {
			content: '';
			position: absolute;
			left: 50%;
			top: 50%;
			border-top: 2px solid var(--dark-color);
			width: 15px;
		}

		&::before {
			transform: translate(-50%) rotate(-50deg);
		}

		&::after {
			transform: translate(-50%) rotate(50deg);
		}

		&:active {
			background-color: var(--light-color);
		}
	}

	&__operations {
		display: flex;
		align-items: center;
		justify-content: space-around;
		margin-bottom: 10px;
		width: 100%;
		max-width: 398px;
	}

	&__operation {
		border: 2px solid var(--dark-color);
		border-radius: 5px;
		width: 50px;
		height: 50px;
		font-size: 25px;
		line-height: 10px;
		background-color: var(--bg-color);

		&:active {
			background-color: var(--light-color);
		}
	}

	&__buttons {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		max-width: 230px;
		gap: 10px;
	}

	&__button {
		border: 2px solid var(--dark-color);
		border-radius: 5px;
		width: 70px;
		height: 70px;
		font-size: 25px;
		line-height: 10px;
		background-color: var(--bg-color);

		&:active {
			background-color: var(--light-color);
		}
	}
}
